name: Build and SonarQube Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # ---- JAVA SETUP ----
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      # ---- BUILD JAVA MICROSERVICES ONLY ----
      - name: Build Java services
        run: |
          for service in auth-service user-service order-service; do
            if [ -f "$service/pom.xml" ]; then
              echo "Building $service"
              mvn -f $service/pom.xml clean package -DskipTests
            fi
          done

      # ---- SONAR SCAN ----
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=ecommerce-microservices
            -Dsonar.sources=.
            -Dsonar.java.binaries=**/target
